.Dropdown {
  text-align: center;
  padding: 0 10px 0 6px;
}

.DropdownToolbar {
  text-align: center;
  height: 100px;
	display: block;
	font-size: 24px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	width: 100%;
	margin-top: -4px;
	background-color: ivory;
  cursor: pointer;
  border: none;
}

.DropdownToolbar:hover {
  background-color: rgb(245, 211, 197);
}
.DropdownToolbar:focus {
	color: #222;
	outline: none;
}

.DropdownToolbara:active { 
  background-image: url('../../../assets/pictures/itemBorder.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgb(245, 211, 197);
  border-bottom: 2px solid rgb(231, 117, 72);
  color: white;
} 