.CategoryHeaderTitle {
  padding: 0px 100px;
  font-weight: 400;
  margin-top: 80px;
  font-size: 32px;
  font-family: Georgia;
  font-style: italic;
  color: black;
  margin-bottom: 0px;
}

.CategoryHeaderBody {
  padding: 0px 260px;
  font-size: 17px;
  color: #776241;
  margin-top: 10px;
}

@media(max-width: 499px) {
  .CategoryHeaderBody {
    padding: 10px 40px;
    font-size: 14px;
  }
}