.Toolbar {
  height: 96px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: ivory;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1%;
  box-sizing: border-box;
  z-index: 90;
}

.ToolbarBottom {
  margin-top: 80px;
  height: 50px;
  width: 100%;
  position: fixed;
  opacity: 1;
  top: 0;
  left: -5px;
  background-image: url('../../../assets/pictures/toolbarbottom.png');
  display: flex;
  align-items: center;
  z-index: 91;
  background-size: contain;
  justify-content: stretch;
  box-sizing: border-box;
}

.Ricipici {
  margin-top: -10px;
  background-image: url('../../../assets/pictures/ricipici.png');
  margin-left: 1%;
  height: 86px;
  width: 286px;
  cursor: pointer;
  background-size: cover;
  outline: none;
  user-select: none;

  &:focus {
    outline: none;
    user-select: none;
  }
}

.Menu {
  color: black;
  margin: -5px 20px 0 0;
}

.Input__password {
  position: absolute;
  left: 320px;
  top: 16px;
  width: 300px;
  height: 50px;
  z-index: 100;
  outline: none;
  user-select: none;

  &:focus {
    outline: none;
    user-select: none;
  }
}

.Warning {
  position: absolute;
  left: 320px;
  top: 14px;
  width: 200px;
  height: 50px;
  z-index: 100;
  outline: none;
  user-select: none;
}

@media (min-width: 499px) {
  .Toolbar {
    padding: 0px;
  }
  .Menu {
    display: none;
  }
}

@media (max-width: 400px) {
  .Ricipici {
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 15px;
    margin-left: 1%;
    height: 86px;
    width: 186px;
  }
}