.Toolbar {
  height: 96px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: ivory;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
  z-index: 90;
}

.ToolbarBottom {
  margin-top: 80px;
  height: 50px;
  width: 100%;
  position: fixed;
  opacity: 1;
  top: 0;
  left: -5px;
  background-image: url('../../../assets/pictures/toolbarbottom.png');
  display: flex;
  align-items: center;
  z-index: 91;
  background-size: contain;
  justify-content: stretch;
  box-sizing: border-box;
}

.Ricipici {
  margin-top: -10px;
  background-image: url('../../../assets/pictures/ricipici.png');
  height: 86px;
  width: 286px;
  background-size: cover;
}

.Menu {
  color: black;
}

@media (min-width: 499px) {
  .Toolbar {
    padding: 0px;
  }
  .Menu {
    display: none;
  }
}