.Toolbar {
  height: 56px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: blanchedalmond;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
  z-index: 90;
}

.ToolbarBottom {
  margin-top: 40px;
  height: 50px;
  width: 100%;
  position: fixed;
  top: 0;
  left: -5px;
  background-image: url('../../../assets/pictures/toolbarbottom.png');
  display: flex;
  align-items: center;
  z-index: 91;
  background-size: contain;
  justify-content: stretch;
  box-sizing: border-box;
}

.Menu {
  color: black;
}

@media (min-width: 499px) {
  .Menu {
    display: none;
  }
}