.Logo {
  padding: 4px;
  text-align: center;
  padding: 0px;
  box-sizing: border-box;
  border-radius: 5px;
  height: 46px;
  width: 56px;
  margin-top: 1px;
  position: fixed;
  left: 46.5%;
  top: 0;
  z-index: 91;
}

.Logo img {
  height: 100%;
}