.Logo {
  padding: 4px;
  text-align: center;
  padding: 0px;
  box-sizing: border-box;
  border-radius: 5px;
  height: 86px;
  width: 96px;
  margin-top: 1px;
  position: fixed;
  left: 45%;
  top: 0;
  z-index: 101;
}

.Logo img {
  height: 100%;
}