.Input {
  padding: 5px;
  width: 100%;
  box-sizing: border-box;
  display: inline-block;
}

.Label {
  font-weight: bold;
  display: block;
  margin-bottom: 8px;
}

.InputElement {
  border-radius: 0.5em;
  outline: none;
  border: 1px solid #ccc;
  background-color: white;
  font: inherit;
  padding: 9px 9px 5px 9px;
  display: block;
  width: 100%;
  box-sizing: border-box;

  &:focus {
    outline: none;
    border-color: #aaa;
    box-shadow: 0 0 1px 3px rgb(7, 7, 7);
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    color: #222;
    outline: none;
  }
}

@media (max-width: 499px) {
  .InputElement {
    padding: 4px 9px 5px 9px;
  }
}
