.NavigationItem {
  margin: 10px 0;
  box-sizing: border-box;
  display: block;
  width: 100%;
}

.NavigationItem a {
  color: #8F5C2C;
  text-decoration: none;
  width: 100%;
  box-sizing: border-box;
  display: block;
}

.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a.active {
  color: black
}


@media (min-width: 500px) {
  .NavigationItem {
    margin: 0;
    display: flex;
    height: 100%;
    width: auto;
    align-items: center;
    font-size: 20px;
    font-family: monospace;
  }

  .NavigationItem a {
    color: black;
    height: 100%;
    padding: 34px 10px;
    border-bottom: 4px solid transparent;
    font-size: 24px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }

  .NavigationItem a:hover {
    background-color: rgb(245, 211, 197);
  }
  .NavigationItem a:active,
  .NavigationItem a.active {
    background-image: url('../../../../assets/pictures/itemBorder.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgb(245, 211, 197);
    border-bottom: 2px solid rgb(231, 117, 72);
    color: white;
  }
}