.Button {
  box-sizing: border-box;
  background-color: blanchedalmond;
  border-radius: 8px;
  border: 1px #eee;
  box-shadow: 0 4px 8px black;
  color: black;
  outline: none;
  cursor: pointer;
  font: inherit;
  padding: 10px;
  margin: 10px;
}

.Success {
  color: green;
}

.Danger {
  color: #944317;
}