.Button {
  box-sizing: border-box;
  background-color: bisque;
  border: 1px #eee;
  box-shadow: 0 2px 3px #ccc;
  color: black;
  outline: none;
  cursor: pointer;
  font: inherit;
  padding: 10px;
  margin: 10px;
}

.Success {
  color: green;
}

.Danger {
  color: #944317;
}