.Background {

}

.Homescreen-buttons {
  padding-top: 70px;
  width: 40%;
  justify-content: space-between;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  margin: 0% 30%;
}

.bg-homescreen {
  opacity: 1;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.Button1 img {
  opacity: 0.9;
  cursor: pointer;
  height: 80%;
  width: 80%;
}

.Button2 img{
  opacity: 0.9;
  cursor: pointer;
  height: 80%;
  width: 80%;
}

.Button3 img{
  opacity: 0.9;
  cursor: pointer;
  height: 80%;
  width: 80%;
}