.Homescreen {
  padding-top: 20px;
  height: 90%;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.Button1 img{
  opacity: 0.9;
  height: 30%;
  width: 30%;
}

.Button2 img{
  opacity: 0.8;
  height: 20%;
  width: 30%;
}

.Button3 img{
  opacity: 0.85;
  height: 30%;
  width: 30%;
}

@media (min-width: 499px){
  .Homescreen {
    padding-top: 150px;
    height: 90%;
    justify-content: space-between;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
  }

  .Button1 img{
    height: 70%;
    width: 70%;
  }

  .Button2 img{
    height: 70%;
    width: 70%;
  }

  .Button3 img{
    height: 70%;
    width: 70%;
  }
}