.Card {
  display: inline-block;
  width: 280px;
  height: 180px;
  background-color: bisque;
  border: 1px #eee;
  box-shadow: 0 2px 3px #ccc;
  padding: 10px;
  margin: 20px 20px auto;
  align-content: center;
  box-sizing: border-box;
  flex-flow: column;
}