.Card {
  display: inline-block;
  width: 280px;
  height: 180px;
  background-color: bisque;
  border: 1px #eee;
  box-shadow: 0 2px 3px #ccc;
  padding: 6px;
  margin: 60px 40px auto;
  align-content: center;
  box-sizing: border-box;
  border-radius: 8px;
}

.Card img {
  padding: 0;
  margin: 0;
  margin-top: 13px;
  width: 100%;
  height: 100%;
}

.Title {
  margin-top: -45px;
  font-family: 'Caveat', cursive;
  font-size: 1.6rem;
  color: black;
}