.App {
  text-align: center;
  font-weight: 400;
  font-family: 'Average,serif';
  font-size: 17px;
  line-height: 1.42857143;
  color: #776241;
}

img.bg {
  min-height: 100%;
  min-width: 1024px;
  opacity: 0.1;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

div.admin-bg {
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
