.SingleBreakfast {
  overflow: auto;
  padding-top: 50px;
  padding-bottom: 35px;
}

.SingleRecipeCard {
  cursor: pointer;
  display: inline-block;
  width: 26%;
  height: auto;
  background-color: ivory;
  border-radius: 8px;
  box-shadow: 7px 7px 18px black;
  padding: 0px;
  margin: 35px 30px;
  align-content: center;
  box-sizing: border-box;
  object-fit: cover;
}

.SingleRecipeCard img {
  border-radius: 0 0 8px 8px;
}

#keto-card{
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
  display: block;
}

#card-bg{
  object-fit: cover;
  width:  100%;
  height: 300px;
  max-width: 100%;
  max-height: auto;
  display: block;
}

.SingleRecipeCardTitle {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-image: url('../../assets/pictures/border2.png');
  background-repeat: round;
  background-size: contain;
  height: 10%;
  font-family: 'Libre Baskerville', serif;
  font-size: 1.5rem;
  color: ivory;
  padding: 10px 0;
}

.SingleRecipeCardKeto {
  position: absolute;
  float: left;
  padding: 0.2% 0% 0% 0%;
  width: 8%;
  margin-top: 9px;
  height: auto;
}

.RecipeArrow {
  cursor: pointer;
  position: fixed;
  z-index: 91;
  float: left;
  padding: 10% 0% 0% 0%;
  margin-top: 25%;
  margin-left: 2.5%;
  width: 15%;
  height: auto;
  background-image: url('../../assets/pictures/arrow.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.RecipeCheatSheetButton {
  cursor: pointer;
  position: fixed;
  z-index: 160;
  float: left;
  padding: 10% 0% 0% 0%;
  margin-top: 36%;
  margin-left: 2%;
  width: 13%;
  height: auto;
  background-image: url('../../assets/pictures/cheat-sheet.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.RecipeCheatSheet {
}

.RecipeCheatSheet img {
  border: 2px solid black;
  box-shadow: 0 4px 8px black;
  position: fixed;
  z-index: 160;
  float: left;
  width: 66%;
  height: 60%;
  left: 17%;
  top: 19%;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

@media (max-width: 400px) {
  .RecipeCheatSheet img {
    width: 96%;
    height: 50%;
    left: 1.4%;
    top: 38%;
  }
}